<main class="my-profile">
  <%# <header class="nav-container" id="home">
    <nav class="navbar">
      <ul class="nav">
        <li class="nav-item">
          <a href="#home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link">About Me</a>
        </li>
        <li class="nav-item">
          <a href="#portfolio" class="nav-link">Portfolio</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a href="/Aloysiushon.pdf" class="nav-link" download="Aloysiushon.pdf">Resume</a>
        </li>
      </ul>
    </nav>
  </header> %>
  <header class="introduction">
    <section class="container first-name">
      <div class="aloysius">
        <h2>ALOYSIUS</h2>
      </div>
    </section>
        <div class="my-title">
          <marquee><p>• WEB WIZARD IN TRAINING •</p></marquee>
          <%# <p>Please<span data-controller="typed-js"></span></p> %>
        </div>
    <section class="container last-name">
      <div class="hon">
        <h2>H</h2>
        <div class="eye-container">
          <div class="eyewhite">
            <div class="pupils"></div>
          </div>
        </div>
        <h2>N</h2>
      </div>
    </section>
  </header>
  <section class="about container">
    <div class="about-header">
      <h2 class="about-text">AB</h2>
      <h2 class="circle">
        <p class="about-content hidden">
          Hello there,<br>
          <br>
          Recent grad passionate about web development after completing a full-stack bootcamp.<br>
          <br>
          Eager to bring a fresh perspective to the ever-evolving tech scene.
          Excited to embark on a journey of growth and innovation.<br>
          <br>
          Let's create something amazing together!
        </p>
      </h2>
      <h2 class="about-text">UT</h2>
    </div>
  </section>

  <section class="skills container">
    <div class="skills-header">
      <h2 class="skills-text">SKILLS</h2>
      <ul class="skills-logos hidden">
        <li><img src="https://www-img.lewagon.com/-Y2prHmrxV811c-Q8MEFwPjWY0ns2jK0zaoP9WgD5w0/rs:fit:28:28/plain/s3://wagon-www/gcfejyqjijxumrjkpueukdyx8v10" alt="Ruby">Ruby</li>
        <li><img src="https://www-img.lewagon.com/bqBRzDTX077Rl9l3FH7VWxaH1fqIwkKuIdDCfGrsRL4/rs:fit:28:28/plain/s3://wagon-www/a8qzio23930pefxgv5310yx7dpxz" alt="RubyonRails">Ruby on Rails</li>
        <li><img src="https://www-img.lewagon.com/Tg4uejVLkB6I2kYlQzBVulGIi5bmF91KmQcaYHMeiRg/rs:fit:28:28/plain/s3://wagon-www/bau66ilw2qfgx95fv6nvyi91sbgd" alt="SQL">SQL</li>
        <li><img src="https://www-img.lewagon.com/BCmGzZXnfwN3xmNaURfuLSWzcGSGzlR-kJxEBKSBkCw/rs:fit:28:28/plain/s3://wagon-www/pnu8jzcrt02y98gl0hzpd9x1gz7t" alt="Javascript">JavaScript</li>
        <li><img src="https://www-img.lewagon.com/X2v8Qo3pmwJ8AqSAuGN7t0kGlRnwU4b_1_I2ej_N9Ys/rs:fit:28:28/plain/s3://wagon-www/tmzg5j0tslfxzrkdbmmqma9y9u87" alt="HTML">HTML</li>
        <li><img src="https://www-img.lewagon.com/uGgauwLsAOORvgDduQxWEg0wlBJonp0oEERtlBCd-hY/rs:fit:28:28/plain/s3://wagon-www/u6qk1of4m8pwhyw2r3vk74mt8uo4" alt="CSS">CSS</li>
        <li><img src="https://www-img.lewagon.com/9xamU7sOx3izDUXiPKniLK4hezTw6Ix4DS3BF3sxq08/rs:fit:28:28/plain/s3://wagon-www/6ry59bm5tpnjfdf0iizapv8x3gsl" alt="Figma">Figma</li>
        <li><img src="https://www-img.lewagon.com/tU-yE6s2NzYjeK4XIhgEZFc1YX8raeu96nlZVz4m29c/rs:fit:28:28/plain/s3://wagon-www/d8xa88xdlunf3wi6w2att72q3tml" alt="Github">GitHub</li>
        <li><img src="https://www-img.lewagon.com/JJZFJhQmWE-yFKqctlB6qeiGuk2TowXaaNMhLArs6r8/rs:fit:28:28/plain/s3://wagon-www/1gfy2pq2k54hcxgp5cgldkrvi91i" alt="Heroku">Heroku</li>
      </ul>
    </div>
  </section>
   <section class="portfolio container">
    <div class="portfolio-header">
      <h2 class="portfolio-text">PORTF</h2>
      <h2 class="circle"></h2>
      <h2 class="portfolio-text">LIO</h2>
    </div>
    <div class="portfolio-projects hidden">
      <div class="row">
        <div class="col-lg-4 card pt-3" style="width: 18rem; border-radius: 2rem; border-color: #000">
          <img src="/images/dogfrens.png" class="card-img-top" alt="Dogfrens" style="border-radius: 2rem; height: 150px">
          <div class="card-body">
            <h5 class="card-title">Dogfrens</h5>
            <p class="card-text">Our first marketplace website, a joint effort by a talented team of four during our initial bootcamp project. Contributing to the frontend, I played a role in crafting it, employing Ruby on Rails, HTML, CSS, and JavaScript.</p>
            <%= link_to 'https://github.com/aloysiushon/Dogfrens-clone', target: 'blank', style: 'text-decoration: none;' do %>
              <%= image_tag('github.svg', alt: 'Github Icon', class: 'project-icon')  %>
            <% end %>
            <a href="#" class="btn hidden" style="background-color: #f8cb74; border-radius: 2rem">Live</a>
          </div>
        </div>

        <div class="card col-lg-4 pt-3" style="width: 18rem; border-radius: 2rem; border-color: #000">
          <img src="/images/bodfrens.png" class="card-img-top" alt="Bodfrens" style="border-radius: 2rem; height: 150px">
          <div class="card-body">
            <h5 class="card-title">Bodfrens</h5>
            <p class="card-text">Our Le Wagon capstone: a gamified fitness app, born from the synergy of our skilled team of four. My hands led the dance in crafting the frontend, blending technologies for an immersive fitness experience that transforms workouts into vibrant adventures.</p>
            <%= link_to 'https://github.com/aloysiushon/bodfrens-clone', target: 'blank', style: 'text-decoration: none;' do %>
              <%= image_tag('github.svg', alt: 'Github Icon', class: 'project-icon')  %>
            <% end %>
            <a href="https://www.bodfrens.com/" target="blank" class="btn" style="background-color: #f8cb74; border-radius: 2rem">Live</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact container" id="contact">
    <div class="contact-header">
      <h2 class="contact-text">C</h2>
      <h2 class="circle"></h2>
      <h2 class="contact-text">NTACT</h2>
    </div>
    <div class="email container hidden" id="myForm">
    <form >
      <div class="email-input">
        <label for="exampleFormControlInput1" class="form-label">Your Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="message-input">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <a href="#" class="btn btn-custom" id="sendEmail">Send Email</a>
    </form>
    </div>
  </section>
  <footer class="container">
    <div class="social-media container">
      <%= link_to 'https://github.com/aloysiushon', target: '_blank' do %>
        <%= image_tag('github.svg', alt: 'Github Icon')  %>
      <% end %>
      <%= link_to 'https://www.linkedin.com/in/aloysiushon/', target: '_blank' do %>
        <%= image_tag('linkedin.svg', alt: 'Linkedin Icon') %>
      <% end %>
    </div>
    <p class="footer-text">© Aloysius Hon 2023</p>
  </footer>
</main>
